* {
    font-family: 'ZT Talk', Arial, Helvetica, sans-serif;
    margin: 5px;
}

div#tempo {
    border-radius: 20px;
    background-color: cornsilk;
    border-style: dashed;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
}

div#tempo:hover {
    background-color: black;
    color: white;
    border-color: gray;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input-container input {
    font-size: 30px;
    width: 80px;
    text-align: center;
    margin: 0 5px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.input-container input:focus {
    outline: none;
    border-color: gray;
}

#controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#parar, #comeca {
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
    transition: background-color 0.3s, color 0.3s;
}

#parar:hover, #comeca:hover {
    background-color: black;
    color: white;
    border-color: gray;
}

#parar {
    display: none;
}
